# Python
__pycache__/
*.pyc

# Conda
.env
.env.example
.venv
venv/
env/

# Jupyter
notebooks/*.ipynb
.ipynb_checkpoints/

# Data
data/
data/raw/
data/processed/
output/ocr_text/
data/chunks/
data/embeddings/

# Model
checkpoints/
models/
*.pth
*.pt

# OS
.DS_Store

# IDE
.vscode/
.idea/

# Logs
*.log